:root {
  --day: #f7fdff;
  --night: #002e63;
  --menuPink: #ff0a81;
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --buttonColor: black;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

.avatar-img {
  height: 8vw;
  border-radius: 40%;
  margin: 2vw 2vw;
  margin-top: 10vw;
  text-align: center;
}
.btn-group {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  opacity: 0.77;
}

#navbar-container {
  width: 100vw;
  height: 6%;
  position: fixed;
  margin-bottom: 3vw;
  transition: 0.4s ease-in-out;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle 919px at 1.7% 6.1%,
    rgba(41, 58, 76, 1) 0%,
    rgba(40, 171, 226, 1) 100.2%
  );
}
#navbar-container:hover {
  opacity: 1;
  box-shadow: black;
}
#navBar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  list-style: none;
}
#navBar-list > li {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
}
#navBar-list > .logo {
  padding: 1rem;
  margin-top: 2rem;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
}
#navBar-list > .logo:hover {
  font-size: 1.8rem;
}
.logo:hover > .link {
  visibility: visible;
  font-size: 1.6rem;
  width: 100%;
}
.link {
  width: 0;
  font-family: "Roboto", sans-serif;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  font-size: 0px;
}
#navbar-drop-down {
  margin-right: 2.5rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  color: #21d4fd;
  background: royalblue;
}
.dropdown-item {
  border: 2rem solid transparent;
  color: rebeccapurple;
  background: brown;
}
.card {
  display: flex;
  width: 26rem;
  height: 26rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5rem;
  text-align: center;
  justify-content: center;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 13.5rem;
  min-height: 13.5rem;
  max-height: auto;
  overflow: hidden;
}
.intro {
  width: 100vw;
  height: 285vh;
  background: white;
}
.card-img-top {
  display: block;
  width: 100%;
  height: 13.5rem;
  width: fit-content;
  max-height: auto;
  max-width: fit-content;
  max-height: fit-content;
  object-fit: cover;
  margin: auto;
}
.card-text {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  overflow: scroll;
  background: #a1b1bb; /* fallback for old browsers */
}
.contact-links {
  display: flex;
  justify-content: space-between;
  margin: auto auto;
  padding: 3vw;
  width: 50%;
}
.contact-links i {
  color: white;
  font-size: 6vw;
}
.grid {
  width: 100%;
  margin: auto;
}
.grid-container {
  width: 100vw;
  height: 100%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  margin-top: 2.5vw;
}
.gradient-color {
  background: #0099f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f11712,
    #0099f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f11712,
    #0099f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgb(66, 2, 66);
  padding: 2rem;
}
textarea {
  width: 100%;
  height: 50%;
  font-size: 14px;
}
input {
  width: 100%;
  font-size: 14px;
}
.shadowText {
  color: white;
  font-family: "Sarpanch", sans-serif;
  font-size: 3.5vw;
  padding: 0.5vw;
  text-shadow: 0.3vw 0.125vw 0 #7c7c7c;
}
.blackShadowText {
  color: white;
  font-family: "Sarpanch", sans-serif;
  font-size: 2.5vw;
  text-shadow: 0.45vw 0.25vw 0vw #ce5937;
}
#animatedText {
  color: black;
}
.heading {
  font: 4rem "Arial Narrow", sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
}

/* stuff for both words */
.heading span {
  position: relative;
}

/* stuff for 1st word */
.heading .word1 {
  color: var(--menuPink);
  transform: rotateY(180deg); /* using Prefix free */
  display: inline-block; /* required for transform */
  z-index: 10; /* stack 1st word on top */
  transition: 0.4s ease-in-out;
  margin-right: 1rem;
}
.heading:hover > .word1 {
  color: whitesmoke;
  transform: rotateY(0deg); /* using Prefix free */
}
.heading:hover > .word2 {
  color: var(--menuPink);
}

/* stuff for 2nd word */
.heading .word2 {
  z-index: 0; /* stack 2nd word below */
  transition: 0.4s ease-in-out;
}

.hvr-grow {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.2s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.18);
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
  color: goldenrod;
}

.landing-grid {
  text-align: center;
  width: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  /*background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);  */
}

.landing-intro {
  background: black;
  margin-top: 4vw;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
  border-radius: 1%;
  width: 90%;
  height: 35rem;
  display: flex;

  text-align: center;
  overflow: visible;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.leftSide {
  flex: 0.5;
  overflow: hidden;
  background: black;
}
.rightSide {
  flex: 0.5;
  overflow: hidden;
  background: goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgContainer {
  width: 40vw;
  height: 40vw;
  margin: 1.5vw auto;
  background: goldenrod;
  border-radius: 50%;
}

.menuBtn {
  display: inline-block;
  text-decoration: none;

  padding: 0.8vw;
  border-radius: 10%;
  font-size: 1.5vw;
  opacity: 100%;
  cursor: pointer;
  color: white;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 33%,
      silver 50%,
      rgba(0, 0, 0, 0) 66%
    )
    black;

  background-size: 300% 100%;
  animation: shine 2000ms infinite;
}

.menuBtnGold {
  display: inline-block;
  text-decoration: none;
  width: 140px;
  padding: 0.5vw;
  border-radius: 10%;
  font-size: 1.5vw;
  opacity: 100%;
  cursor: pointer;
  color: white;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 33%,
      rgb(156, 156, 156) 50%,
      rgba(0, 0, 0, 0) 66%
    )
    rgb(14, 14, 14);

  background-size: 300% 100%;
  animation: shine 2000ms infinite;
}
@keyframes shine {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.arrow {
  animation: blinks 2000ms infinite;
}
@keyframes blinks {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
.captionText {
  color: var(--mainColor);
  font-size: 2vw;
  font: caption;
  margin: auto 0vw;
}
.landing-text {
  background: black;
  border-radius: 1%;
  opacity: 0.85;
  width: 90%;

  text-align: center;
  margin: auto auto;
  overflow: visible;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.landing-text h1 {
  font-size: 3vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 2vw;
  padding-top: 1.8vw;
  @media screen and (min-width: 980px) {
    padding: 8rem 1.5rem;
  }
}
.landing-text hr {
  border-top: 5px white dotted;
}
.introText {
  color: white;
  font-size: 2vw;
  text-align: center;
  padding: 1em;
  margin-top: 1.5vw;
}
.noMarginText {
  color: white;
  font-size: 2vw;
  text-align: center;
}
.page-content {
  margin-top: 5rem;
}
.resume-right-side {
  background: #27221f;
  color: white;
  padding: 2em;
}
.text-title {
  font-weight: bold;
  font-variant-caps: titling-caps;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}
.theme-dot:hover {
  border: 2px solid var(--mainColor);
}

.orderSelect {
  display: flex;
  list-style: none;
  margin: 1vw;
  margin-bottom: 0vw;
  padding: 1vw;
  justify-content: center;
}
.orderSelectItem {
  color: rgb(114, 114, 114);
  border-radius: 15%;
  width: fit-content;
  margin: 0 2vw;
  padding: 0.75vw;
  font-size: 1.9vw;
  cursor: pointer;
}

ul li.active {
  border-bottom: groove black;
  background: var(--night);
  color: white;
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

/* Contact Page  */

.contact {
  background-color: black;
  display: flex;
  width: 90%;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
}
.left {
  background: rgb(219, 170, 47);
  flex: 0.5;
}
.right {
  background: goldenrod;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 70%;
}
/*Footer */
.footer {
  padding: 48px 30px;
  width: 100%;
  background: black;
  margin-top: 5vw;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* background: red; */
}
.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 40px;
  /* margin: 0 4.5vw; */
}
.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3.5vw;
  color: white;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto, minmax(230px, 1fr));
  grid-row-gap: 20px;
}
.footer-link {
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin-bottom: 1.5vw;
}
.footer-link:hover {
  color: #ff9c00;
  transition: 200ms ease-in;
  cursor: pointer;
  text-decoration: none;
}
/* Responsive desighn  */
@media screen and (max-width: 700px) {
  #navbar-container {
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing-text {
  }
  .landing-intro {
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
