.avatar-img {
  height: 10vw;
  border-radius: 10%;
  margin: 2vw 2vw;
  margin-top: 7vw;
  text-align: center;
}
.btn-group {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  opacity: 0.77;
}

#navbar-container {
  width: 100%;
  height: 5rem;
  position: fixed;
  margin-bottom: 3rem;
  transition: 0.4s ease-in-out;
  opacity: 0.91;
  background-image: radial-gradient(
    circle 919px at 1.7% 6.1%,
    rgba(41, 58, 76, 1) 0%,
    rgba(40, 171, 226, 1) 100.2%
  );
}
#navbar-container:hover {
  opacity: 1;
  box-shadow: black;
}
#navBar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  list-style: none;
}
#navBar-list > li {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
}
#navBar-list > .logo {
  padding: 1rem;
  margin-top: 2rem;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
}
#navBar-list > .logo:hover {
  font-size: 1.8rem;
}
.logo:hover > .link {
  visibility: visible;
  font-size: 1.6rem;
  width: 100%;
}
.link {
  width: 0;
  font-family: "Roboto", sans-serif;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  font-size: 0px;
}
#navbar-drop-down {
  margin-right: 2.5rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  color: #21d4fd;
  background: royalblue;
}
.dropdown-item {
  border: 2rem solid transparent;
  color: rebeccapurple;
  background: brown;
}
.card {
  display: flex;
  width: 26rem;
  height: 26rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5rem;
  text-align: center;
  justify-content: center;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 13.5rem;
  min-height: 13.5rem;
  max-height: auto;
  overflow: hidden;
}
.card-img-top {
  display: block;
  width: 100%;
  height: 13.5rem;
  width: fit-content;
  max-height: auto;
  max-width: fit-content;
  max-height: fit-content;
  object-fit: cover;
  margin: auto;
}
.card-text {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  overflow: scroll;
  background: #a1b1bb; /* fallback for old browsers */
}
.contact-links {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}
.contact-links i {
  color: white;
  font-size: 4em;
}
.grid {
  width: 100%;
  margin: auto;
}
.grid-container {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2vw;
  grid-row-gap: 3vw;
  margin-top: 5vw;
 
}
.gradient-color {
  background: #0099f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f11712,
    #0099f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f11712,
    #0099f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgb(66, 2, 66);
  padding: 2rem;
}
.heading {
  font: 4rem "Arial Narrow", sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
}

/* stuff for both words */
.heading span {
  position: relative;
}

/* stuff for 1st word */
.heading .word1 {
  color: #dc006c;
  transform: rotateY(180deg); /* using Prefix free */
  display: inline-block; /* required for transform */
  z-index: 10; /* stack 1st word on top */
  transition: 0.4s ease-in-out;
  margin-right: 1rem;
}
.heading:hover > .word1 {
  color: whitesmoke;
  transform: rotateY(0deg); /* using Prefix free */
}
.heading:hover > .word2 {
  color: #dc006c;
}

/* stuff for 2nd word */
.heading .word2 {
  z-index: 0; /* stack 2nd word below */
  transition: 0.4s ease-in-out;
}

.hvr-grow {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.2s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.18);
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
  color: palevioletred;
}

.landing-grid {
  text-align: center;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.landing-text {
  background: black;
  border-radius: 1%;
  opacity: 0.85;
  width: 85%;
  height: 25rem;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
.landing-text h1 {
  font-size: 3vw;
  font-weight: bold;
  color: white;
  text-align: center;
  @media screen and (min-width: 980px) {
    padding: 8rem 1.5rem;
  }
}
.landing-text hr {
  border-top: 5px white dotted;
}
.landing-text p {
  color: white;
  font-size: 2vw;
  text-align: center;
  padding: 1em;
}
.page-content {
  margin-top: 5rem;
}
.resume-right-side {
  background: #27221f;
  color: white;
  padding: 2em;
}
.text-title {
  font-weight: bold;
  font-variant-caps: titling-caps;
}

@media screen and (max-width: 740px) {
  .grid-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
 }



